/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* lato-regular - latin */
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/lato-v17-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/lato-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/lato-v17-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/lato-v17-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: local(""), url("../fonts/lato-v17-latin-900.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/lato-v17-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Lato";
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #102746;
}
.wrapper {
	max-width: 1060px;
	margin: 0 auto;
}
/* Header styles start */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.header_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 56px;
}
.header_list {
	display: flex;
	flex-wrap: wrap;
}
.header_item {
	margin-right: 82px;
}
.header_item:last-child {
	margin-right: 0;
}
.header_link {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
}
.header_link:hover,
.header_link:focus,
.header_link:active {
	opacity: 75%;
}
/*  Header styles end*/

/* Intro styles start */
.intro {
	min-height: 100vh;
	background: url(../img/intro_bg.jpg) no-repeat center;
	background-size: cover;
	padding-top: 260px;
	padding-bottom: 355px;
}
.intro_title {
	max-width: 619px;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #ffffff;
	margin-bottom: 22px;
}
.intro_subtitle {
	max-width: 546px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 29px;
}
.search-form_info {
	display: flex;
	flex-wrap: wrap;
}
.search-form_field {
	width: 297px;
	background-color: transparent;
	background: url(../img/svg/Oval.svg) no-repeat left top;
	background-size: 17px;
	border: 0;
	border-bottom: 2px solid #bfc0c5;
	margin-right: 60px;
	padding-left: 43px;
	padding-bottom: 22px;
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
}
.search-form_field::placeholder {
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
}
.search-form-submit {
	padding: 15px 39px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #ffffff;
	background: #1b7dff;
	border: 0;
}
.search-form-submit:hover,
.search-form-submit:focus,
.search-form-submit:active {
	background: #1556ab;
}
/* Intro styles end */
/* Benefits styles start */
.benefits_wrap {
	max-width: 1262px;
	background-color: white;
	margin: 0 auto;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
	position: relative;
}
.benefits_title {
	width: 100%;
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	padding: 93px 100px 88px 100px;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background-color: rgb(100, 43, 43);
	position: absolute;
}
.benefits_cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 55px;
}

/* Benefits styles end*/
